* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue"
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(./assets/font/HelveticaNeue.ttc);
}

a {
    text-decoration: none;
}

/* input in general */
input {
    width: 100%;
    border: 1px solid #BCBCBC;
    /* margin: 8px 0; */
    padding: 14px 16px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
}

.error-border {
   border-color: #b40e0e;
}

.input-error {
    border: 1px solid crimson;
}

.input-success {
    border: 1px solid #98E37E;
}



/* left side */
.left-side {
    width: 57%;
    min-height: 1080px;
    max-height: auto;
    background: #f9f9f9;
    padding: 0 150px;
}


.error-text {
    color: #b40e0e;
}

.margin {
    margin-top: 5px;
}

/*  border */
.border {
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 50px;
}